<div class="container">
	<div class='page-header'>
		<h2><span class='white'>Edit Your</span> <span class='musician'>Profile</span></h2>
	</div>

	<div class='well'>
		<form action="/edit_profile" method="POST" role="form" enctype='multipart/form-data'>
		<div class='form-group'>
			<label for='image'>Profile Picture</label>
			<input type="file" name="image" accept="image/*" id='name'>
		</div>

		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" id="first_name" placeholder="first name" name='firstName' value='<%=user.firstName%>'>
		</div>

		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" id="last_name" placeholder="last name" name='lastName'value='<%=user.lastName%>'>
		</div>

		<div class="form-group">
			<label>What I Play</label>
			<input type="text" class="form-control" id="instruments" placeholder="instruments" name='instruments' value='<%=user.instruments%>'>
		</div>

		<div class="form-group">
			<label>Genres I Enjoy Playing</label>
			<input type="text" class="form-control" id="genres" placeholder="genres" name='genres' value='<%=user.genres%>'>
		</div>

		<div class="form-group">
			<label>Location</label>
			<input type="text" class="form-control" id="location" placeholder="city, state" name='location' value='<%=user.location%>'>
		</div>

		<div class="form-group">
			<label>Bio</label>
			<textarea type="text" class="form-control" id="bio" placeholder="tell us about yourself" name='bio'><%=user.bio%></textarea>
		</div>

		<div class="form-group">
			<label>What Are You Looking For?</label>
			<textarea type="text" class="form-control" id="looking_for" placeholder="a blues bass player, a rock drummer, etc." name='lookingFor'><%=user.lookingFor%></textarea>
		</div>

		<button type="submit" class="btn btn-primary su-buttons">Submit</button>
		</form>
	</div>
</div>