<% if(currentUser) { %>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a id='links' class="navbar-brand" href="/user_profile">Musicians Meet-Up</a>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a id='links' href="/user_profile">Me</a></li>
			<li><a id='links' href="/community">Community</a></li>
			<li><a id='links' href="/classifieds">Classifieds</a></li>
			<li><a id='links' href="/logout">Logout</a></li>
		</ul>
	</div>
</nav>
<% } else { %>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a id='links' class="navbar-brand" href="/">Musicians Meet-Up</a>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a id='links' href="/community">Community</a></li>
			<li><a id='links' href="/sign_up">Sign-Up</a></li>
			<li><a id='links' href="/">Home</a></li>	
		</ul>
	</div>
</nav>
<% } %>

<div class="container profile">
	<div class='page-header'>
		<h1 class='blue'><%= user.firstName + ' ' + user.lastName %> - <small class='white'> <%=user.location%></small></h1>
		<% if (user.id !== currentUser.id && currentUser) { %>
			<form method="POST" action='/user_profile' id='user-friends'>
				<input name="friends_id" type="hidden" value="<%= user.id %>"/>
				<input type="submit" class='btn btn-primary' id='favorite' value="Add To Friends!" />
			</form>
		<% } %>
	</div>

	<div class='row lv_1'>
	<% if (user.img) { %>
		<div class='col-md-6 pic'>
			<img src='<%=userImg%>'/>
		</div>
	<% } %>

		<div class='col-md-6 info'>
			<p><span class='musician'>Bio:</span> <%=user.bio%></p>	
		</div>
	</div>

	<div class='well row'>
		<p><span class='musician'>Instruments I Play:</span> <%=user.instruments%></p>
		<p><span class='musician'>Genres I Play:</span> <%=user.genres%></p>
		<p><span class='musician'>What I'm Looking For:</span> <%=user.lookingFor%></p>
	</div>
	<div class='well row'>
		<h4><span class='musician'>Friends of <%=user.firstName%>:</span></h4>
		<ul>
			<% if (friends) { %>
				<% friends.forEach(function(friend) { %>
					<li><a id='friend' href='/user_profile/<%=friend.id%>'><%=friend.firstName + ' ' + friend.lastName%></a></li>
				<% }); %>
			<% } %>
		</ul>
	</div>
	<% if (user.id === currentUser.id) { %>
		<button id='trash' type="button" class="btn btn-danger delete" data-id='<%=user.id %>'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Profile</button>
	<% } %>
</div>